DISCORD_BOT_TOKEN=your_secret_key_here
CLOUDFLARE_ACCOUNT_ID=your_secret_key_here
CLOUDFLARE_NAMESPACE_ID=your_secret_key_here
CLOUDFLARE_API_TOKEN=your_secret_key_here
GUILD_ID=your_secret_key_here
STATS_CHANNEL_ID=your_secret_key_here
CURSEFORGE_API_KEY=your_secret_key_here
CURSEFORGE_AUTHOR_ID=your_secret_key_here
FEEDBACK_CHANNEL_ID=your_secret_key_here
SUPPORT_ROLE_ID=your_secret_key_here
CHALLENGE_KEY=your_secret_key_here
DUEL_WEBHOOK_SECRET=your_secret_key_here
CLOUDFLARE_D1_DATABASE_ID=your_secret_key_here
ACTIVITY_APP_ID=your_secret_key_here
VAGUDLE_WORKER_URL=your_secret_key_here
VAGUDLE_WORKER_SECRET=your_secret_key_here

#Secondary Bot:
VAGUDLE_BOT_TOKEN=your_secret_key_here
VAGUDLE_BOT_STATUS_TEXT=your_secret_key_here
